.header_row {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FE7F2D;
    &.white {
        background-color: #fff!important;
    }
}

.header_left_container {
    width: 25%; 
    text-align: center;
    &.white {
        width: 5%;
    }
}

.header_middle_logo {
    width: 23%; 
    text-align: right;
    margin: 5px;
    &.white {
        width: 43%;
    }
}

.header_middle_name {
    width: 25%; 
    text-align: center;
    text-align: left;
    margin-left: 2px;
    &.white {
        width: 47%;
    }
}

.header_right_container {
    width: 27%;
    text-align: center;
    &.white {
        width: 5%;
    }
}