.footer_row {
    width: 100%;
    margin-block-start: 10%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FE7F2D;
}