video {
    width: 100%!important;
}

.capture_container {
    border: 1px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2%;
    margin-bottom: 2%;
    border-color: rgba(254, 127, 45, 0.12);
    border-style: solid;
}
                                        
.capture_container:before {
    padding-top: 133.34%;
    content: "";
    display: block;
}

.capture_item {
    align-self: center;
}